.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/download/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
/out/
/bin/
.idea

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
